<%= form_for(loan, html: { class: "form-horizontal",  multipart: true}) do |f| %>
  <% if loan.errors.any? %>
     <div id="error_explanation">
    <%= t'general.form_error'%>          
    </div>
    <br/><br/>
  <% end %>

  <div class="row">
    <div class="col-sm-3">
      
      <div class="form-group">
      <%= f.label :person_id, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">        
        <%= f.collection_select(:person_id, @person_of, :id, :nome_inicial, { include_blank: 'SELECIONE' }) %>        
          <%= error_tag loan, :person_id %>          
        </div>
      </div>

    </div>

    <div class="col-sm-3">  
      <div class="form-group">
      <%= f.label :data_saida, class: "col-sm-2 control-label" %>
        <div class="col-sm-4">        
          <%= f.text_field :data_saida, value: ( l @loan.data_saida, :format => :default2 if @loan.data_saida? ), class: "form-control calendario" %>  
          <%= error_tag loan, :data_saida %>            
        </div>
      </div>
    </div>

    <div class="col-sm-3">  

      <div class="form-group">
      <%= f.label :data_saida, class: "col-sm-2 control-label" %>
        <div class="col-sm-4">        
          <%= f.text_field :data_saida, value: ( l @loan.data_saida, :format => :default2 if @loan.data_saida? ), class: "form-control calendario" %>  
          <%= error_tag loan, :data_saida %>            
        </div>
      </div>
    </div>
       
    <div class="col-sm-3">  
      <div class="form-group">
      <%= f.label :obs, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">        
          <%= f.text_area :obs, class: "form-control" %>    
          <%= error_tag loan, :obs %>          
        </div>
      </div>  
    </div>    

  </div>

   <%= f.hidden_field :user_id, value: current_user.person_id(current_user.username) %>

  <div class="row">
      <%= link_to_add_association 'Produtos', f, :products, class: "glyphicon glyphicon-plus-sign alert alert-success",
           'data-association-insertion-node' => "#products-loan",
           'data_association-insertion-method' => "append"
      %>
            <fieldset id="products-loan">
              
                <%= f.fields_for :products do |product| %>
                  <%= render partial: "product_fields", locals: {f: product} %>
                <% end %>
             
            </fieldset>
  </div>


  <div class="actions">
    <%= f.submit t("links.btn"), class: "btn btn-default" %>
  </div>
<% end %>
